@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
@import 'media';
@media(max-width:1240px) {}

@media(max-width:1050px) {
    .blog-page {
        padding-top: 60px;
        &__aside,
        &__input {
            width: 100%;
        }
        &__inner {
            display: flex;
            flex-direction: column-reverse;
        }
        &__item {
            margin-right: 0;
            width: 100%;
        }
        &__box {
            margin-top: -50px;
            padding: 10px 20px;
        }
        &__description {
            flex-direction: column;
            align-items: center;
            margin-bottom: 25px;
        }
        &__description-content,
        &__bottom-title {
            text-align: center;
            width: 100%;
        }
        &__bottom-text {
            margin-bottom: 20px;
        }
        &__comments {
            padding: 0;
        }
    }
    .filter-category,
    .recent-item {
        display: none;
    }
    .partner {
        &__items {
            flex-wrap: wrap;
            align-items: center;
        }
        &__item {
            height: 150px;
            width: 150px;
            margin: 0 auto;
        }
    }
}

@media(max-width:690px) {
    .blog-page {
        &__author {
            flex-direction: column;
            align-items: center;
        }
        &__comments-bottom {
            margin-left: 50px;
        }
    }
    .form-contact__input,
    .form-contact__textarea {
        width: 98%;
    }
}

@media(max-width:470px) {
    .blog-page {
        &__comments-img {
            display: none;
        }
    }
}