@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
@import 'media';
@media(max-width:1240px) {}

.contact {
    padding: 60px 0 60px;
    &__items {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__item {
        margin-bottom: 25px;
    }
}

@media(max-width:1050px) {
    .form-contact {
        flex-direction: column;
        align-items: center;
        &__content {
            margin-bottom: 25px;
        }
    }
}

@media(max-width:600px) {
    .form-contact {
        &__top {
            flex-direction: column;
        }
        &__input {
            margin-right: 0;
        }
    }
}

@media(max-width:470px) {
    .partner {
        &__items {
            flex-wrap: wrap;
            align-items: center;
        }
    }
}