html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 30px;
    color: #7b7b7b;
    @extend %rubik-400;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    margin: 0 auto;
}

.container {
    max-width: 1770px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}