html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 30px;
    color: #7b7b7b;
    @extend %rubik-400;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1770px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.breadcrumbs {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    &__list {
        display: flex;
    }
    &__link {
        @extend %rubik-400;
        font-size: 14px;
        color: #7b7b7b;
        position: relative;
        padding-right: 5px;
    }
    &__link-active {
        @extend %rubik-400;
        font-size: 14px;
        color: #7b7b7b;
        position: relative;
        padding-left: 10px;
        &::after {
            content: "/";
            position: absolute;
            left: 0;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    padding: 100px 0 0 0;
    &__list {
        display: flex;
    }
    &__item {
        margin: 0 6px;
    }
    &__link {
        padding: 18px;
        border: 2px solid $light;
        color: $text;
        &--active {
            background-color: $light;
            color: #fff;
            padding: 18px;
            border: 2px solid $light;
        }
    }
    &__arrow {
        @extend %rubik-400;
        color: $text;
        font-size: 16px;
        line-height: 30px;
        padding: 12px 16px 12px 16px;
        border: 2px solid $light;
        margin-left: 10px;
    }
}