@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
@import 'media';
@media(max-width:1240px) {}

@media(max-width:1050px) {}

@media(max-width:600px) {
    .product__inner {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:470px) {}