@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
@import 'media';
@media(max-width:1240px) {}

@media(max-width:1050px) {
    .product-page {
        padding: 60px 0;
    }
    .product-details {
        &__slide {
            margin-right: 0;
        }
        &__title {
            font-size: 30px;
        }
        &__btn {
            margin-left: 0;
        }
        &__price {
            margin-bottom: 0;
        }
        &__content {
            width: 100%;
        }
    }
    .product-slide__big-img {
        padding: 40px 40px 65px 40px;
    }
    .jq-number {
        margin-bottom: 20px;
    }
}

@media(max-width:750px) {
    .product-details {
        &__inner {
            flex-direction: column;
            align-items: center;
        }
    }
    .product-tabs__top-item+.product-tabs__top-item {
        margin-left: 0;
    }
}

@media(max-width:600px) {
    .product-details {
        &__slide {
            width: 100%;
            flex-direction: column-reverse;
        }
    }
    .product-slide {
        &__big {
            width: 100%;
        }
        &__thumb {
            margin: 0 auto;
        }
    }
}