$default: #191919;
$text: #243f4d;
$light: #a3bbc8;
%rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubik-300 {
    font-family: 'Rubik-Light', sans-serif;
    font-weight: 300;
}

%rubik-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%rubik-700 {
    font-family: 'Rubik-Bold', sans-serif;
    font-weight: 700;
}

%dms-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%dms-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%dms-500 {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%ppns-600 {
    font-family: 'Poppins-SemiBold', sans-serif;
    font-weight: 600;
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}