@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }
}

.logo {
    display: flex;
}

.logo__images {
    margin-right: 15px;
}

.menu {
    &__items {
        display: flex;
    }
    &__list-link {
        color: #436372;
    }
    &__list-link+.menu__list-link {
        padding-left: 35px;
    }
}

.user-nav {
    display: flex;
    &__link {
        display: flex;
    }
    &__num {
        display: block;
        position: absolute;
        font-size: 10px;
        width: 15px;
        height: 15px;
        top: 0;
        right: -8px;
        text-align: center;
        color: $text;
        padding-top: 3px;
        background-color: #fff;
        border-radius: 50%;
    }
}

.user-nav__middle {
    display: flex;
    padding: 20px 40px 15px;
    background-color: #fcd7b6;
    border-radius: 100px;
}

.user-nav__list-line {
    padding: 0 30px;
}

.user-search {
    padding: 25px;
    margin-right: 20px;
    background-color: #edf1f4;
    border-radius: 50%;
}

.user-heart,
.user-cart {
    position: relative;
}

.user-dots {
    padding: 20px;
    background-color: $text;
    border-radius: 50%;
    margin-left: 15px;
}

.main {
    flex-grow: 1;
    margin: 0 auto;
}

.footer {
    padding: 60px 0;
}

.footer-top {
    padding: 70px 0 65px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
    border-bottom: 1px solid #dae4e9;
    &__content {
        display: flex;
    }
    &__address {
        max-width: 270px;
        width: 100%;
    }
    &__menu {
        margin-top: 25px;
        padding-left: 0;
    }
    &__title {
        @extend %dms-700;
        font-size: 16px;
        line-height: 25px;
        color: #1f2044;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    &__list {
        margin-bottom: 20px;
    }
    &__link {
        color: #7b7b7b;
    }
    &__text {
        max-width: 270px;
        width: 100%;
        margin-bottom: 25px;
    }
    &__form {
        display: flex;
        max-width: 270px;
        width: 100%;
        input {
            border: none;
            background-color: #fef7f0;
            padding: 15px 0 15px 15px;
        }
        button {
            border: none;
            color: #fff;
            background-color: #a3bbc8;
            padding: 15px;
        }
    }
    &__input::placeholder {
        @extend %dms-400;
        color: #234969;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    &__line {
        padding: 0 15px;
        color: #7b7b7b;
    }
    &__link {
        color: #7b7b7b;
    }
}

.slider-top {
    background-image: url('../images/slider-top-bg.jpg');
    background-repeat: no-repeat;
    padding: 225px 0 75px;
    &__item {
        display: flex !important;
        justify-content: space-around;
        width: 100%;
    }
    &__title {
        @extend %rubik-500;
        font-size: 70px;
        line-height: 72px;
        color: $text;
        max-width: 470px;
        margin-bottom: 40px;
    }
    &__text {
        @extend %rubik-400;
        font-size: 20px;
        line-height: 30px;
        max-width: 400px;
        width: 100%;
        margin-bottom: 40px;
    }
    &__btn {
        display: inline-block;
        padding: 20px 100px 20px 25px;
        background-color: $light;
        color: #fff;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.slider-btn {
    background-image: url('../images/arrow.svg');
    background-position: 145px;
    background-repeat: no-repeat;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    gili {
        padding: 0 5px;
        button {
            font-size: 10px;
            line-height: 8px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #fde3cc;
            border: none;
            color: $text;
        }
    }
    .slick-active {
        button {
            background-color: #fff;
        }
    }
}

@import 'media';