@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }
}

.logo {
    display: flex;
}

.logo__images {
    margin-right: 15px;
}

.menu {
    &__items {
        display: flex;
    }
    &__list-link {
        color: #436372;
    }
    &__list-link+.menu__list-link {
        padding-left: 35px;
    }
}

.user-nav {
    display: flex;
    &__link {
        display: flex;
    }
    &__num {
        position: absolute;
        font-size: 10px;
        width: 15px;
        height: 15px;
        top: 0;
        right: -8px;
        text-align: center;
        color: #243f4d;
        padding-top: 3px;
        background-color: #fff;
        border-radius: 50%;
    }
}

.user-nav__middle {
    display: flex;
    padding: 20px 40px 15px;
    background-color: #fcd7b6;
    border-radius: 100px;
}

.user-nav__list-line {
    padding: 0 30px;
}

.user-search {
    padding: 25px;
    margin-right: 20px;
    background-color: #edf1f4;
    border-radius: 50%;
}

.user-heart,
.user-cart {
    position: relative;
}

.user-dots {
    padding: 20px;
    background-color: #243f4d;
    border-radius: 50%;
    margin-left: 15px;
}

@import 'media';